Django>=4.2,<5.0
dj-database-url>=2.0
python-dotenv>=1.0
whitenoise>=6.5
cloudinary>=1.36
django-cloudinary-storage>=0.3
gunicorn>=21.0
psycopg2-binary>=2.9
mysqlclient>=2.2
Pillow>=10.0
requests>=2.31
python-dateutil>=2.8
